

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <title>Coview</title>
  </head>
  <body>
    <h1 class="text-center">CoView - Covid-19 US Dashboard </h1>

    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Cases</button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Risk Level</buttona>
        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Vaccine</button>
        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">By State</button>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <div id='US-Cases-MAP'></div>
          <div id='State-1' style="display: none;"></div>
          <div id='State-2' style="display: none;"></div>
          
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div id='US-Risk-Level'></div>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div id='US-Vaccine'></div>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <div id='State'>
            <div class="row">
              <div class="col-6"><div id='State-Cases'></div></div>
              <div class="col-6"><div id='State-Vaccines'></div></div>
              <div class="w-100"></div>
              <div class="col-4"><div id='State-Counties'></div></div>
              <div class="col-4"><div id='US-Vaccine4'></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
  <script>
    Plotly.d3.json('https://api.covidactnow.org/v2/states.json?apiKey=7c46a86300384a39899b7aa0d60be10f', function(figure){
      function unpack(data, key) {
        return data.map(row => row[key])
      }
      function unpackActuals(data) {
        return data.map(row => row['actuals']['newCases'])
      }
      function unpackVaccines(data) {
        return data.map(row => row['metrics']['vaccinationsInitiatedRatio'])
      }
      function unpackRisk(data) {
        return data.map(row => row['riskLevels']['overall'])
      }
      var data = [{
        type: 'choropleth',
        locationmode: 'USA-states',
        locations: unpack(figure, 'state'),
        z: unpackActuals(figure),
        zmin: 0,
        zmax: 10000,
        autocolorscale: true
    }];

    var data1 = [{
        type: 'choropleth',
        locationmode: 'USA-states',
        locations: unpack(figure, 'state'),
        z: unpackRisk(figure),
        zmin: 0,
        zmax: 5,
        colorscale: [
            [0, 'rgb(50,205,50)'], [0.2, 'rgb(50,205,50)'],
            [0.4, 'rgb(255,215,0)'], [0.6, 'rgb(255,69,0)'],
            [0.8, 'rgb((220,20,60)'], [1, 'rgb(128,0,0)']
        ],
        marker: {
            line:{
                color: 'rgb(255,255,255)',
                width: 2
            }
        }
    }];
    var data2 = [{
        type: 'choropleth',
        locationmode: 'USA-states',
        locations: unpack(figure, 'state'),
        z: unpackVaccines(figure),
        zmin: 0.12,
        zmax: 0.25,
        colorscale: 'RdBu',
        marker: {
            line:{
                color: 'rgb(255,255,255)',
                width: 2
            }
        }
    }];
    var layout = {
      showlegend: false,
      width: 1000,
      height: 1000,
      dragmode: false,
      displayModeBar: false,
      title: {
        text: 'Daily coronavirus cases by State'
      },
      geo:{
          scope: 'usa',
          showlakes: false,
          lakecolor: 'rgb(255,255,255)'
      }
    };
    var layout1 = {
      showlegend: false,
      dragmode: false,
      width: 1000,
      height: 1000,
      title: {
        text: 'Coronavirus Risk Level by State'
      },
      geo:{
          scope: 'usa',
          showlakes: false,
          lakecolor: 'rgb(255,255,255)'
      }
    };
    var layout2 = {
      showlegend: false,
      width: 1000,
      dragmode: false,
      height: 1000,
      title: {
        text: 'First Dose of Vaccine\'s administered By State'
      },
      geo:{
          scope: 'usa',
          showlakes: false,
          lakecolor: 'rgb(255,255,255)'
      }
    };

    Plotly.react("US-Cases-MAP", data, layout, {responsive: true})
      .then(gd => {
        gd.on('plotly_click', d=> {
          var pt = (d.points || [])[0]
          console.log(pt)
          var x = document.getElementById('State-1')
          var y = document.getElementById('State-2')
          x.style.display = "block";
          y.style.display = "block";
          Plotly.d3.json(`https://api.covidactnow.org/v2/state/${pt.location}.timeseries.json?apiKey=7c46a86300384a39899b7aa0d60be10f`, function(figure){
            function unpackDate(data) {
              return data['metricsTimeseries'].map(row => row['date'])
            }
            function unpackActuals(data) {
              return data['metricsTimeseries'].map(row => row['caseDensity'])
            }
            console.log(figure['metricsTimeseries'][0]['caseDensity'])
            var date = unpackDate(figure)
            var positivity = figure['metricsTimeseries'].map(row => row['testPositivityRatio'])
            var vaccineFirst = figure['metricsTimeseries'].map(row => row['vaccinationsInitiatedRatio'])
            var vaccineSecond = figure['metricsTimeseries'].map(row => row['vaccinationsCompletedRatio'])
            var trace = {
              x: date,
              y: unpackActuals(figure),
              mode: 'lines',
              name: 'Case Density'
            };
            var trace1 = {
              x: date,
              y: positivity,
              mode: 'lines',
              name: 'Test Positivity',
              yaxis: 'y2'
            };

            var trace2 = {
              x: date,
              y: vaccineFirst,
              mode: 'lines+markers',
              name: 'First Dose'
            };
            var trace3 = {
              x: date,
              y: vaccineSecond,
              mode: 'lines+markers',
              name: 'Second Dose'
            };

            var layout = {
              title: `Cases per 100k vs Positivity Ratio for ${pt.location}`,
              yaxis2: {
                overlaying: 'y',
                side: 'right',
                showgrid: false
              },
              yaxis: {
                showgrid: false
              },
              xaxis: {
                showgrid: false,
                rangeslider: {}
              }
            };
            var layout1 = {
              title: 'First Dose and Second Dose administered',
              xaxis:{
                range: ['2021-01-01', '2021-04-01']
              },
              yaxis: {
                range: [0, 0.5]
              }
            };
            
            Plotly.newPlot("State-1", [trace, trace1], layout);
            Plotly.newPlot("State-2", [trace2, trace3], layout1);

          })
        })
      })
    Plotly.newPlot("US-Risk-Level", data1, layout1, {responsive: true});
    Plotly.newPlot("US-Vaccine", data2, layout2, {responsive: true});

  })

  Plotly.d3.json('https://api.covidactnow.org/v2/state/NJ.timeseries.json?apiKey=7c46a86300384a39899b7aa0d60be10f', function(figure){
    function unpackDate(data) {
      return data['metricsTimeseries'].map(row => row['date'])
    }
    function unpackActuals(data) {
      return data['metricsTimeseries'].map(row => row['caseDensity'])
    }
    console.log(figure['metricsTimeseries'][0]['caseDensity'])
    var date = unpackDate(figure)
    var positivity = figure['metricsTimeseries'].map(row => row['testPositivityRatio'])
    var vaccineFirst = figure['metricsTimeseries'].map(row => row['vaccinationsInitiatedRatio'])
    var vaccineSecond = figure['metricsTimeseries'].map(row => row['vaccinationsCompletedRatio'])
    var trace = {
      x: date,
      y: unpackActuals(figure),
      mode: 'lines',
      name: 'Case Density'
    };
    var trace1 = {
      x: date,
      y: positivity,
      mode: 'lines',
      name: 'Test Positivity',
      yaxis: 'y2'
    };

    var trace2 = {
      x: date,
      y: vaccineFirst,
      mode: 'lines+markers',
      name: 'First Dose'
    };
    var trace3 = {
      x: date,
      y: vaccineSecond,
      mode: 'lines+markers',
      name: 'Second Dose'
    };

    var layout = {
      title: 'Cases per 100k vs Positivity Ratio',
      yaxis2: {
        overlaying: 'y',
        side: 'right'
      }
    };
    var layout1 = {
      title: 'First Dose and Second Dose administered',
      xaxis:{
        range: ['2021-01-01', '2021-04-01']
      },
      yaxis: {
        range: [0, 0.5]
      }
    };
    
    Plotly.newPlot("State-Cases", [trace, trace1], layout);
    Plotly.newPlot("State-Vaccines", [trace2, trace3], layout1);

  })
  </script>
</html>